@font-face {
    font-family: 'TF2'; 
    src: url('tf2.ttf');
}
body {
    font-family: "TF2";
	background-color: #1f1f1f;
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	margin: 0;
	color: white;
}

a {
	color: white;
}

.normalText {
	font-family: "Serif";
}
.headerBanner {
	text-align: center;
	color: white;
	padding: 10px;
	background-color: #333333;	
	overflow: hidden;
}

.headerLinksParent {
	display: inline-flex;
}

.headerLink {
	margin-left: 10px;
}

.pageBody {
	padding: 20px;
}

.mapCountStats {
	text-align: center;
}

.dash-dropdown {
	background-color: #333333;	
}

.dash-graph {
	width: 80%;
	padding-left: 10px;
}

.ChartCombiner {
	display: flex;	
	align-items: center;
}

.DropDownContainer {
	width: 15%;
	margin: 0;
	padding: 0;
}

.headerLogo {
	height: 150px;
	width: 150px;
}

.Select-control {
    color: black;
  }
  
.Select-menu-outer {
    color: black;
}

.Select-value-label {
    color: black !important;
}
